// Fonts
// Import from Google Fonts:
// 1 - Barlow
// 2 - Red Hat Display

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800&family=Red+Hat+Display:wght@400;500;700;900&display=swap");

// Import icon fonts

@font-face {
  font-family: icomoon;
  src: url("../fonts/fonts/icomoon.eot?m0l87");
  src: url("../fonts/fonts/icomoon.eot?m0l87#iefix") format("embedded-opentype"),
    url("../fonts/fonts/icomoon.ttf?m0l87") format("truetype"),
    url("../fonts/fonts/icomoon.woff?m0l87") format("woff"),
    url("../fonts/fonts/icomoon.svg?m0l87#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-pointing-to-right-blue::after {
  content: "\e906";
}

.icon-app-development::before {
  content: "\e900";
}

.icon-content-marketing::before {
  content: "\e901";
}

.icon-ppc-advertising::before {
  content: "\e902";
}

.icon-seo-optimization::before {
  content: "\e903";
}

.icon-social-media-marketing::before {
  content: "\e904";
}

.icon-web-development::before {
  content: "\e905";
}
