// COLORS
$main-color: #0084dd;
$second-color: #fe4c1c;

// FONTS
$headings-font: "Barlow", sans-serif;
$regular-font: "Red Hat Display", sans-serif;

// Bootstrap overwrites
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1170px,
);
