.about {
  margin-top: 96px;
  position: relative;

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    position: relative;
    height: 569px;

    &-title {
      width: 209px;
      height: 234px;
      font-family: $regular-font;
      font-size: 14px;
      font-weight: 900;
      line-height: 22px;
      color: #fff;
      position: absolute;
      bottom: -28px;
      left: 0;

      img {
        position: absolute;
      }

      div {
        margin-bottom: 101px;
        margin-left: 41px;
        margin-right: 65px;
        position: relative;
        z-index: 11;
      }

      .number {
        margin-top: 69px;
        margin-bottom: 0;
        font-size: 48px;
        line-height: 58px;
        position: relative;
        z-index: 11;
      }
    }
  }

  &__small-image {
    position: absolute;
    top: 20px;
    left: -70px;
  }

  &__info {
    padding: 44px 0 0 133px;
  }

  &__subtitle {
    margin-left: 20px;
  }

  &__title {
    margin-top: 6px;
    max-width: 90%;
  }

  &__description {
    margin-top: 45px;
    font-family: $regular-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  &__button {
    margin-top: 60px;
  }
}

// Start media styles

@include media-breakpoint-down(xxl) {
  .about {
    &__image {
      margin-left: 100px;
    }
  }
}

@include media-breakpoint-down(xl) {
  .about {
    &__image {
      height: 455px;
    }

    &__main-img {
      width: 455px;
      height: 455px;
    }

    &__title {
      max-width: 100%;
      font-size: 36px;
    }

    &__info {
      padding-left: 80px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .about {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__image {
      height: 629px;
    }

    &__main-img {
      width: 629px;
      height: 629px;
    }

    &__info {
      padding-left: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .about {
    &__image {
      height: auto;
    }

    &__main-img {
      width: 80%;
      height: auto;
    }
  }
}

@include media-breakpoint-down(sm) {
  .about {
    &__image {
      &-title {
        width: 150px;
        height: 180px;
        font-size: 10px;
        background-size: 120px 150px;
        background-repeat: no-repeat;

        div {
          margin-left: 37px;
          margin-right: 60px;
        }

        .number {
          font-size: 30px;
          line-height: 40px;
          margin-top: 50px;
        }
      }
    }

    &__small-image {
      width: 19%;
    }
  }
}
