.back-to-top {
  position: fixed;
  bottom: 53px;
  right: 53px;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  transform: rotate(-90deg);
  background-color: $icon-font-color;
  color: $icon-font-color-hover;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &:hover {

    @include transition;

    background-color: $icon-font-color-hover;
    color: $icon-font-color;
  }
}

.visible {
  display: flex;
}
