.services {
  margin-top: 165px;

  .container {
    display: flex;
  }

  &__subtitle {
    margin-left: 20px;
  }

  &__title {
    margin-top: 3px;
  }

  &__header {
    width: 370px;
  }

  &__description {
    font-family: $regular-font;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 21px;
  }

  &__button {
    margin-top: 48px;
  }

  &__items {
    margin-top: 39px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 372px 372px;
    column-gap: 28px;
    row-gap: 31px;
  }

  &__item {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  &__icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: $main-color;
    box-shadow: 7px 5px 20px rgb(2 156 236 / 30%);
  }

  &__info {
    margin-left: 30px;

    .item-header {
      font-family: $headings-font;
      font-size: 22px;
      font-weight: 600;
      color: $text-color;
      margin-top: 11px;
    }

    .item-description {
      font-family: $regular-font;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      color: #606060;
      margin-top: 18px;
      margin-bottom: 4px;
    }
  }
}
