.blue-waves {
  background: $background-color;

  &::before,
  &::after {
    content: "";
    background-repeat: no-repeat;
    background-color: #fff;
    height: 167px;
    width: 100%;
    display: block;
    background-size: cover;
  }

  &::after {
    transform: rotateX(180deg);
  }

  &-experience::before {
    background-image: url("../images/waves/wave1.svg");
    position: relative;
    left: -19px;
    width: calc(100% + 208px);
  }

  &-experience::after {
    background-image: url("../images/waves/wave2.svg");
    height: 152px;
    margin-left: -712px;
    width: calc(100% + 712px);
  }

  &-portfolio::before {
    background-image: url("../images/waves/wave2.svg");
    height: 149px;
    margin-top: 126px;
    margin-left: -712px;
    width: calc(100% + 712px);
  }

  &-portfolio::after {
    background-image: url("../images/waves/wave1.svg");
    position: relative;
    left: -19px;
    width: calc(100% + 208px);
  }
}
