.blue-waves {
  background: $background-color;

  &::before,
  &::after {
    content: "";
    background-repeat: no-repeat;
    background-color: #fff;
    height: 167px;
    width: 100%;
    display: block;
    background-size: cover;
  }

  &::after {
    transform: rotateX(180deg);
  }

  &-experience::before {
    background-image: url("../images/waves/wave-1.png");
  }

  &-experience::after {
    background-image: url("../images/waves/wave-2.png");
    height: 152px;
  }

  &-portfolio::before {
    background-image: url("../images/waves/wave-2.png");
    height: 149px;
    margin-top: 126px;
  }

  &-portfolio::after {
    background-image: url("../images/waves/wave-1.png");
  }
}
