.blue-waves {
  background: $background-color;

  &::before,
  &::after {
    content: "";
    background-image: url("/src/images/waves/wave-1.svg");
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    display: block;
    background-size: cover;
  }

  &::after {
    transform: rotate(180deg);
  }
}
