@use "sass:color";

// Styles for buttons

.button {

  @include transition;

  color: #fff;
  border-radius: 28px;
  font-family: $headings-font;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 11px 32px;
  position: relative;

  &__big {
    padding: 15px 33px;
  }

  &__small {
    padding: 25px;
  }

  &__blue {
    box-shadow: 12px 12px 20px 0 rgb(1 96 231 / 30%);
    background-color: $main-color;

    &:hover {
      background-color: color.adjust($main-color, $lightness: -15%);
      box-shadow: none;
    }
  }

  &__red {
    box-shadow: 8px 8px 18px 0 rgb(254 76 28 / 30%);
    background-color: $second-color;

    &:hover {
      background-color: color.adjust($second-color, $lightness: -15%);
      box-shadow: none;
    }
  }

  &__arrow {
    padding-right: 60px;

    &::after {
      content: "\e900";
      /* stylelint-disable font-family-no-missing-generic-family-keyword, font-family-name-quotes */
      font-family: "icomoon";
      position: absolute;
      right: 5px;
      top: 5px;
      width: 39px;
      height: 39px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
      font-size: 13px;
    }

    &.button__red {
      &::after {
        color: $second-color;
      }
    }

    &.button__blue {
      &::after {
        color: $main-color;
      }
    }

    &.button__big {
      &::after {
        width: 46px;
        height: 46px;
      }
    }

    &.button__submit {
      &::after {
        background-color: #fe7049;
      }
    }
  }
}
