.title {
  font-family: $headings-font;
  font-size: 42px;
  line-height: 48px;
  font-weight: 800;
  color: $text-color;
  text-transform: capitalize;

  &_white {
    font-size: 48px;
    line-height: 80px;
    color: $icon-font-color;
  }
}
